#!/bin/bash
TITLE="fake (malicious/profiting from ads) pdf site blocker"
UBLACKLIST_DOCUMENT_MIRRORS_TITLE="Document search engine/mirror blocker"
REPO="https://gitlab.com/anarcho-copy/block-fake-pdf-sites"
RAW_SOURCE="https://gitlab.com/anarcho-copy/block-fake-pdf-sites/-/raw/master"
DATE=$(date -u)
VERSION=$(date "+%Y%m%d%H%M%S" -d "$DATE")

TEMP=.tmp
TEMP_SERVER_BIND=127.0.0.1
TEMP_SERVER_PORT=40955
BUILD_PATH=./output
INPUT_PATH=./data
BLOCK_IP=127.0.0.1

DNSMASQ=${BUILD_PATH}/dnsmasq.conf
UBLACKLIST=${BUILD_PATH}/uBlacklist.txt
UBLACKLIST_DOCUMENT_MIRRORS=${BUILD_PATH}/uBlacklist-document-mirrors.txt
HOSTS=${BUILD_PATH}/hosts
RAW=${BUILD_PATH}/domain.txt

BLACKLIST_DOMAINS=${INPUT_PATH}/blacklist.d/domains.dat
BLACKLIST_PATHS=${INPUT_PATH}/blacklist.d/path.dat
WASTE_LOGIN_REQUIRED=${INPUT_PATH}/waste.d/login-required.dat
DOCUMENT_MIRRORS=${INPUT_PATH}/document-mirror.d/domains.dat
WHITELIST_DOMAINS=${INPUT_PATH}/whitelist.d/domains.dat
WHITELIST_TURKISH_BOOKSTORES=${INPUT_PATH}/whitelist.d/turkish-bookstores.dat

GLOBALHOSTS=/etc/hosts.d/fake-pdf-hosts
GLOBALDNSMASQ=/etc/dnsmasq.d/fake-pdf-hosts.conf

include_other_sources=false
include_etherpad=true
EXTERNAL_DIR=${INPUT_PATH}/external.d
OTHER_HOSTS_SOURCES=${EXTERNAL_DIR}/hosts_based
OTHER_UBLACKLIST_SOURCES=${EXTERNAL_DIR}/ublacklist_based
ETHERPAD_SOURCE_DIR=${EXTERNAL_DIR}/etherpad
ETHERPAD_SOURCE=${ETHERPAD_SOURCE_DIR}/domains.dat

# add colon to ignore makefile error (also bash)
:
	# force source .config/force.sh
	# example .config/force.sh file located at .config/.example.env
	#	cp .config/.example.env .config/force.sh
	source .config/force.sh &>/dev/null || true
